<div>
    <h2 style="">Layton Utah Temple Tours</h2>
    <br />
    <br/>

    <div >
        <!--Layton UT Temple img-->
        <img style="display: block; margin-left: auto; margin-right: auto; max-height: 500px; max-width: 500px;" src="~/img/Layton-Temple.jpg" />
    </div>
    <br/>

    <a style="display: block; margin-left: auto; margin-right: auto; max-width: 70px;" asp-controller="Home" asp-action="Signup" class="btn-success btn-sm">Sign Up</a>
</div>