@model IEnumerable<Appointment>
<!--We use the Appointment IEnumerable to run through each instance of the appointments and also output the time objects.
    -->
    <br />
    <br />
    <center>
        <div>
            <table class=" table-hover table-striped table-bordered table-layout: auto">
                <thead class="text-center">
                    <tr>
                        <th>Appointment ID</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Group Name</th>

                    </tr>

                </thead>
                <tbody class="text-center">
                    <!--our for loop that outputs the appointmentID, date of appointment and groupname  "dd:hh:mm tt"-->
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td style="background-color:lightblue">@x.AppointmentId</td>
                            <td>@x.Time.Date.ToString("MMMM dd")</td>
                            <td>@x.Time.Date.ToString("hh:mm tt")</td>
                            <td>@x.GroupName</td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </center>

